<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <title>404</title>
</head>

<!--导航-->
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini">
</nav>
</head>
<body>

<div class="ui error message">
    <div class="ui container ">
        <img class="ui big fluid centered image" src="../../static/image/404.png" th:src="@{/image/404.png}">
    </div>
</div>


<footer th:replace="_fragments :: footer"></footer>
</body>
</html>