<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

    <title>分类</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini">
</nav>

<!--中间内容-->
    <div class="m-container-small m-padded-tb-big">

        <div class="ui container">
            <!--头部-->
            <div class="ui top attached segment">
                <div class="ui two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}">14</h3> 个
                    </div>
                </div>
            </div>
            <!--头部-->
            <div class="ui attached segment m-padded-tb-large">
                <div class="ui labeled button m-tags" th:each="type : ${types}">
                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic button" th:classappend="${type.id==activeTypeId} ? 'blue'" th:text="${type.name}">思考与感悟</a>
                    <div class="ui basic left pointing label" th:classappend="${type.id==activeTypeId} ? 'blue'" th:text="${#arrays.length(type.blogs)}">20</div>
                </div>
            </div>
            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="" th:text="${blog.title}">博客标题</a></h3>
                            <p class="m-text-thin" th:text="|${blog.description}......|">文章描述</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/seed/picsum/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">litong</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2020-03-19</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i><span th:text="${blog.views}">1111</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a class="ui blue basic label mini" th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://picsum.photos/seed/picsum/800/450" th:src="@{${blog.firstPicture}}" alt="#" class="ui rounded image">
                            </a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                <div class="ui two column grid">
                    <div class="column">
                        <a href="#" th:href="@{/(page=${page.number}-1)}" class="ui mini blue basic button" th:unless="${page.first}">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" th:href="@{/(page=${page.number}+1)}" class="ui mini blue basic button" th:unless="${page.last}">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--footer-->
    <footer th:replace="_fragments :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<th:block th:replace="_fragments :: mescript"></th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>